## all codeigniter files are ignored to avoid
## causing any issue to yours
## cache files

application/cache/*
application/config/*
!application/config/gettext.php
application/controllers/*
!application/controllers/Process.php
application/core/*
application/helpers/*
application/hooks/*
!application/language/*
application/libraries/*
application/logs/*
application/models/*
application/third_party/*
application/views/*
!application/views/welcome_message.php
application/index.html
application/.htaccess

system/core/*
system/database/*
system/fonts/*
system/helpers/*
!system/helpers/gettext_helper.php
system/libraries/*
!system/libraries/Gettext.php
!system/vendor/*
system/index.html
system/.htaccess